#tableInit {
    background-color: lightgray;
    height: 100%;
    width: 260px;
}

#tableOrder {
    background-color: beige;
    height: 100%;
    width: 300px;
    margin-left: 10px;
}

.floatTables {
    float: left;
}

.widthSize {
    width: 189px;
}

nav {
    background-color: #c73032;
    box-shadow: 0 2px 50px 0 #000000;
}

.navbar-brand, .nav-link, .dropdown-item {
    transition-duration: 0.4s;
    color: white;
}

.li_color {
    background-color: #c73032;
}

body {
    background-image: url("https://images.unsplash.com/photo-1546962339-5ff89552b8ed?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1168&q=80");
    background-repeat: no-repeat;
    background-color: #000000bf;
    background-size: cover;
    background-blend-mode: soft-light;

    margin-left: auto;
    margin-right: auto;
}

h1, p, table {
    color: white;
}

.button {
    transition-duration: 0.4s;
    border-radius: 10px;
}

.button:hover {
    color: white;
    background-color: #8a1a1c;
    border-radius: 10px;
}

.button_li:hover {
    color: white;
    background-color: #8a1a1c;
}


/* ========================================== */

.container_form {
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;

    margin-left: 250px;

    box-shadow: 0px 0px 28px 7px #000000bf;

    width: 306px;
    background-color: #c73032;
    outline: transparent;

    padding: 15px;
}

.container_table {
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;

    margin-left: 100px;

    box-shadow: 0px 0px 28px 7px #000000bf;

    width: 508px;
    background-color: #c73032;
    outline: transparent;

    padding: 15px;

    height: 600px;
}

.button_submit {
    color: white;
    background-color: #8a1a1c;

    border: 0.5mm solid #090707;
    border-radius: 15px;

    margin: auto;
    display: block;
    float: left;
}

.button_submit:hover {
    color: white;
    font-weight: 550;

    transform: scale(1.04);
    border: 0.6mm solid black;
}

/* Submit button */
#button_wh {
    width: 80px;
    height: 40px;
}

/* Clear Table, Next Entity button */
.button2_wh {
    width: 97px;
    height: 40px;
}

.button_delete {
    color: white;
    background-color: #8a1a1c;

    margin: auto;
    display: block;
}

.form_spacing {
    margin-bottom: 10px;
}

.form-control-sm {
    border: 2px solid #212121;
}

#infoIcon:hover {
    color: lightgray;
    transition-duration: 0.4s;
}

p1{
    font-size: 30px;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}